/*body {
   background-image: url("images/foodbg.jpg");
   background-size: 100%;
   background-attachment: fixed;
   background-repeat: no-repeat;
}*/
/*.main-background-page {
  background-image: url("images/whatever.jpg");
  background-size: 100%;
}*/
html {
  background: url("images/foodbg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
table {
  border-collapse: collapse;
  width: 40%;
}
th {
padding: 8px;
border-bottom: 2px solid #ddd;
background-color: #4CAF50;
width: 50%;
}
td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
  width: 50%;
}
tr:hover{background-color:#f5f5f5}
tr:nth-child(even){background: #f2f2f2}

a{
  color: #fc07e8;
  text-decoration: underline;
}
.table-list {
  border-collapse: collapse;
  width: 20%;
}
.table-list-header {
  background-color: #fc07e8;
}
